@import "_variables.scss";

.activity{
    height: 100vh;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.activity-heading{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    @include tablet{
        font-size: 3rem;
    }
    @include laptop{
        font-size: 4rem;
    }
    @include desktop{
        font-size: 5rem;
    }
}

.card-container{
    padding: 0;
    border: 0;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include phone{
        flex-direction: column;
        justify-content: space-evenly;
    }
    @include tablet{
        flex-direction: column;
        justify-content: space-evenly;
    }
    @include laptop{
        flex-direction: row;
    }
    @include desktop{
        flex-direction: row;
    }
}

.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.card-side {
    z-index: 1;
    transition: all 1s;
    font-size: 3rem;
    color: white;
    box-shadow: 0 0 2.5rem 2.5rem rgba(241, 110, 3, 0.37) inset;
    backface-visibility: hidden;
    @include phone{
        height: 15rem;
        width: 25rem;
        border-radius: 2rem;
    }
    @include tablet{
        height: 25rem;
        width: 35rem;
        border-radius: 3rem;
    }
    @include laptop{
        height: 50rem;
        width: 30rem;
    }
    @include phone{
        height: 60rem;
        width: 40rem;
        border-radius: 4rem;
    }
}

.card-side-front{
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include phone{
        font-size: 2rem;
    }
    @include tablet{
        font-size: 3rem;
    }
    @include desktop{
        font-size: 4rem;
    }
}

#card-side-front-1{
    background-image: linear-gradient(
        to bottom rgba(10, 43, 65, 0.144),
        rgba(153, 110, 16, 0.164)
    ),
    url(../../dist/media/koala.jpeg);
}

#card-side-front-2{
    background-image: linear-gradient(
        to bottom rgba(10, 43, 65, 0.144),
        rgba(153, 110, 16, 0.164)
    ),
    url(../../dist/media/sightsee1.jpeg);
}

#card-side-front-3{
    background-image: linear-gradient(
        to bottom rgba(10, 43, 65, 0.144),
        rgba(153, 110, 16, 0.164)
    ),
    url(../../dist/media/camping.png);
}

.card-side-back{
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotateY(180deg);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-side-back-1{
    background-image: linear-gradient(
        to right rgba(19, 129, 202, 0.363),
        rgba(83, 205, 221, 0.418)
    ),
    url(../../dist/media/kangaroo.jpeg);
}

#card-side-back-2{
    background-image: linear-gradient(
        to right rgba(19, 129, 202, 0.363),
        rgba(83, 205, 221, 0.418)
    ),
    url(../../dist/media/sightsee.jpeg);
}

#card-side-back-3{
    background-image: linear-gradient(
        to right rgba(19, 129, 202, 0.363),
        rgba(83, 205, 221, 0.418)
    ),
    url(../../dist/media/outdooractivity.jpg);
}

.card:hover .card-side-front{
    transform: rotateY(-180deg);
}

.card:hover .card-side-back{
    transform: rotateY(0deg);
}

