@import "_variables.scss";

.activities-header{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    @include tablet{
        font-size: 3rem;
    }
    @include laptop{
        font-size: 4rem;
    }
    @include desktop{
        font-size: 5rem;
    }
}