@import "_variables.scss";

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include laptop {
      height: 90vh;
    }
  }
  
  .history-header {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    @include tablet {
      font-size: 3rem;
    }
    @include laptop {
      font-size: 4rem;
    }
    @include desktop {
      font-size: 5rem;
    }
  }
  
  .history-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    @include laptop {
      //height: 60%;
      width: 90%;
      flex-direction: row;
    }
  
    .history-image {
      width: 90%;
      padding: 1rem;
      @include laptop {
        height: 60rem;
        width: auto;
      }
    }
  }
  