@import "_variables.scss";

.travel {
    height: 100vh;
    position: relative;
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.travel-heading {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    @include tablet {
        font-size: 3rem;
    }
    @include laptop {
        font-size: 4rem;
    }
    @include desktop {
        font-size: 5rem;
    }
}

.travel-container {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    height: 92vh;
}

.box {
    position: relative;
    box-shadow: 0px 0px 15px background;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.icon {
    color: #8293ff;
    font-size: 48px;
}
