$colors: (
  primary: #aa7e4b,
  primary-light: #fc9d66,
  grey: #c2b9ab,
  primary-dark: #7e5b28,
  black: #0b0c10
);
$phone: 600px;
$tablet: 900px;
$laptop: 1100px;
$desktop: 1100px;
 
@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin phone{
  @media (min-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
